* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Craftwork Grotesk Bold";
  font-weight: 700;
}

html {
  box-sizing: border-box;
  font-size: calc(100vw / 1920 * 10);
  @media (min-width: 1000px) {
    font-size: calc(100vw / 320 * 10);
  }
}

* img {
  min-width: 100%;
}

ul {
  list-style: none;
}

:root {
  --white: #FFFFFF;
  --black: #000000;
  --green: #808000;
  --brown: #C19954;
  --grey: #B0B0B0;
}

body {
  position: relative;
  font-weight: 500;
   
}
body._lock {
  overflow: hidden;
}

[class*=__container] {
  max-width: 172rem;
  margin: 0 auto;
  padding: 0 10rem;
}

.header {
  width: 100%;
  border-bottom: var(--brown) solid 0.1rem;
  position: absolute;
  left: auto;
  right: auto;
  z-index: 10;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .heder-logo {
  width: 29,2rem;
} */
.logo-svg {
  width: 29.2rem;
}


.hero {
  margin-bottom: 20rem;
}

.advantages {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15rem;
}
.h2 {
  text-align: center;
  font-weight: 600;
  font-size: 6rem;
  line-height: 105.9%;
  color: var(--black);
}

.margin-btm-50px {
  margin-bottom: 5rem;
}

.h2-subtitle {
  text-align: center;
  font-weight: 400;
  font-size: 3rem;
  color: var(--black);
}

.margin-btm-100px {
  margin-bottom: 10rem;
}

.icon-item {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
}

.left-icon {
  width: 10rem;
  height: 10rem;
  margin-right: 1rem;
}

.heading-icon {
  font-weight: 600;
  font-size: 3rem;
}

.advantages-icon {
  width: 100%;
}

.icon-text {
  font-size: 2.4rem;
}

.products {
 margin-bottom: 20rem;
}


.partners {
  margin-bottom: 20rem;
}
.logo-partners-wrapper {
  display: flex;
  gap: 5rem;
  justify-content: space-between;
  align-items: center;
}

.logo-sibur {
  width: 30rem;
}

.mather-logo {
  width: 35.6rem;
}

.brus-logo {
  width: 46.4rem;
}

.moto-logo {
  width: 36.3rem;
}

.logo-partners-img {
  width: 100%;
}


 /* Форма */

input {
  margin: 0; /* 2 */
  padding-left: 1.5rem;
  border-bottom: 0.1rem solid #000;
}

.application {
  margin-bottom: 20rem;
}
.applecation-content {
  display: flex;
  max-width: 172rem;
  gap: 3.5rem;
}

.appl-left-content {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-image {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.appl-right-content {
  width: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

input {
  width: 100%;
  border: none;
  border-bottom: 0.1rem solid var(--black);
  outline: none;
  padding: 2rem 0rem 1rem 0rem;
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  color: var(--black);
}

.form-input:focus {
  border-bottom: 0.1rem solid var(--brown);
}

.form-text {
  font-weight: 500;
  font-size: 3rem;
  line-height: 105.9%;
  /* or 32px */
  text-align: center;
}

.bottom-form-wrapper {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  justify-content: center;
}

.btm-form {
  color: var(--white);
  background-color: var(--black);
  border: 3px solid var(--brown);
  padding: 1.1rem 6.6rem;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  transition: 0.3s;
}

.btm-form:focus,
.btm-form:hover {
  background-color: var(--green);
  color: var(--brown);
}

::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  color: var(--grey);
}

::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  color: var(--grey);
}

.footer {
  background-color: var(--black);
}
.footer-wrapper {
  padding: 7.8rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  width: var(--);
}

.footer-number {
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--brown);
  transition: 0.3s;
}

.footer-number:hover,
.footer-mail:hover {
  color: var(--green);
}

.footer-mail {
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--brown);
  transition: 0.3s;
}

.abaut-company-wrapper {
  max-width: 350px;
}

.abaut-company {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: var(--brown);
}/*# sourceMappingURL=style.css.map */


